.grid-cell {
    border: 1px solid #B7AD99;
    width:100%;
    height:100%;
    box-sizing: border-box;
    background-color: #FFFFF3;
  }
  
.grid {
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  

.grid-and-editor {
   width: 100%;
   height:100%;
   background-color:  #FFFFF3;
  }


  .grid-editor{
    width: 100%;
    height: 100%;
    background-color: blue;
  }

  

  
  